{% extends "layout.html" %}
{%block body%}
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand">Akash's Blog</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" disabled href="/">Home</a>
                <a class="nav-link" disabled href="/about">About Me</a>
                <a class="nav-link" disabled href="/posts">Posts</a>
                <a class="nav-link" href="/works" disbaled>Works</a>
                <a class="nav-link" href="/contact" disabled>Contact</a>
                <a class="nav-link active" aria-current="page" href="#">Confess</a>
            </div>
          </div>
        </div>
      </nav>
      <div class="container my-4">
        <h1 class="display-6">Hey there!</h1>
        <figure>
          <blockquote class="blockquote">
            <p>
              I appreciate your openness and trust in confiding your thoughts and opinions with me. It brings me great joy to create a space where you can freely express yourself, knowing that your confessions will be heard with an open heart and without judgment. I believe in the power of honesty and authenticity, and by sharing your true thoughts, you contribute to fostering a genuine connection between us. Your messages matter, and I am grateful for the opportunity to listen and be there for you.
            </p>
          </blockquote>
          <figcaption class="blockquote display-6">
            -Akash
          </figcaption>
        </figure>
        <form action="/confess" method="post">
          <div>
            <label for="Confess" class="form-label display-6">Confess here!</label>
            <textarea class="form-control" name="confess" id="Confess" rows="5"></textarea>
          </div>
          <button type="submit" class="btn my-4 btn-success">Confess :)</button>
        </form>
      </div>
    {%endblock%}