{% extends "layout.html" %}
{%block body%}
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand">Akash's Blog</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link" disabled href="/">Home</a>
              <a class="nav-link" disabled href="/about">About Me</a>
                <a class="nav-link" disabled href="/posts">Posts</a>
                <a class="nav-link" href="/works" disbaled>Works</a>
                <a class="nav-link active" aria-current="page" href="#">Contact</a>
              <a class="nav-link" href="/confess" disabled>Confess</a>
            </div>
          </div>
        </div>
      </nav>
      <div class="container my-4">
        <h1 class="display-6 my-4">Contact Akash:</h1>
        <p>Akash, being highly cautious about his credentials, ensures his utmost safety. Consequently, reaching out to him directly via email or phone proves to be a challenge. Rest assured, your message will promptly trigger an immediate notification.</p>
        <div class="mb-3 my-2">
          <label for="inputName" class="form-label">Your name</label>
          <input type="text" class="form-control mb-4" id="inputName" placeholder="Enter your name here ">
          <label for="inputEmail" class="form-label">Your email address</label>
          <input type="email" class="form-control mb-4" id="inputEmail" placeholder="Enter your email here">
          <label for="inputSubject" class="form-label">Your subject</label>
          <input type="text" class="form-control mb-4" id="inputSubject" placeholder="Enter your subject here ">
        </div>
        <div class="mb-5">
          <label for="inputMater" class="form-label">Message</label>
          <textarea class="form-control" id="inputMater" rows="5"></textarea>
        </div>
        <button type="button" class="btn btn-primary">Send Message</button>
      </div>
    {%endblock%}