{% extends "layout.html" %}
{%block body%}
    <nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top">
        <div class="container-fluid">
          <a class="navbar-brand">Akash's Blog</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
              <a class="nav-link" disabled href="/about">About Me</a>
              <a class="nav-link" disabled href="/posts">Posts</a>
              <a class="nav-link" disabled href="/works">Works</a>
              <a class="nav-link" href="/contact" disbaled>Contact</a>
              <a class="nav-link" href="/confess" disabled>Confess</a>
            </div>
          </div>
        </div>
      </nav>
      <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
          <div class="col-10 col-sm-8 col-lg-6">
            <img src="{{  url_for('static',filename='0.6.jpg')  }}" class="d-block mx-lg-auto img-fluid" alt="Credits: DALL-E" width="400" height="500">
          </div>
          <div class="col-lg-6">
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Hello {{  name_x  }}!</h1>
            <p class="lead">{{ index_bio }}</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
              <a href='/works'><button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Check my works</button></a>
              <a href='/posts'><button type="button" class="btn btn-outline-secondary btn-lg px-4">Check my posts here</button></a>
            </div>
          </div>
        </div>
      </div>
    {%endblock%}