{% extends "layout.html" %}
{%block body%}
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand">Akash's Blog</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" disabled href="/">Home</a>
                <a class="nav-link" disabled href="/about">About Me</a>
                <a class="nav-link active" aria-current="page" href="#">Posts</a>
                <a class="nav-link" disabled href="/works">Works</a>
                <a class="nav-link" href="/contact" disbaled>Contact</a>
                <a class="nav-link" href="/confess" disabled>Confess</a>
            </div>
          </div>
        </div>
      </nav>

      <div class="container">
        <header>
          <h1 class="text-center mt-5">My Blog Post</h1>
        </header>
        <article>
          <div class="card my-4">
            <div class="card-body">
              <h2 class="card-title">Posts</h2>
              <p class="card-text">There are currently no posts published in the website. This website is still being built. Check back soon</p>
            </div>
          </div>
        </article>
        {%endblock%}