{% extends "layout.html" %}
{%block body%}
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand">Akash's Blog</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" disabled href="/">Home</a>
                <a class="nav-link" disabled href="/about">About Me</a>
                <a class="nav-link active" aria-current="page" href="#">Posts</a>
                <a class="nav-link" disabled href="/works">Works</a>
                <a class="nav-link" href="/contact" disbaled>Contact</a>
                <a class="nav-link" href="/confess" disabled>Confess</a>
            </div>
          </div>
        </div>
      </nav>

      <div class="container">
        <header>
          <h1 class="text-center mt-5">My Blog Post</h1>
        </header>
        <article>
          <div class="card my-4">
            <div class="card-body">
              <h2 class="card-title">My First 4 Months in Sweden</h2>
              <p class="card-text">In this blog, I wrote about all my experiences, hardships, and fun that I had in Sweden. It revolves about my life in a foreign courty with complete independence</p>
            </div>
          </div>
        </article>
        <article>
          <div class="card my-4">
            <div class="card-body">
              <h2 class="card-title">How to get started as a Data Anayst</h2>
              <p class="card-text">This blog gives a detailed explanation about all the skills that a Data Analyst possess in the industry and how these skills are implemented in the industry.</p>
            </div>
          </div>
        </article>
        {%endblock%}